h1 {
	text-align: center;
	margin-bottom: 0;
  }
  .container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	font-size: 13px;
  }
  aside {
	padding: 0 1em;
  }
  aside div {
	margin: .25em 0;
  }
  input {
	margin-right: 5px;
  }
  main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	margin-bottom: 5em;
  }
  .products {
	margin: 2em 0;
  }
  .products h3 {
	margin-bottom: 0;
  }
  p {
	margin: 0;
  }
.imagesfilter {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80px;
    height: 80px;
  }